body{
    margin: 0px;
    padding: 0px;
}

.container{
    height: 800px;
    width: 800px;
    background-color: white;
    border: black solid 1px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color:burlywood;
    height: 100vh;
    
   
}

.row{
    display: flex;
    justify-content: space-evenly;
}

.gridSquare{
    display: flex;
    flex: 1; 
}

button{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-size: 20px;;
}