.container{
    height: 800px;
    width: 800px;
    background-color: white;
    border: black solid 1px;
    
    
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: space-evenly;
    
   

}

.gridSquare{
    display: flex;
    flex: 1;
    
    
   
    
}
